ul.content__list
    -
        var content = [
            {
                text: 'Здесь краткое описание. Высота блока зависит от контента, но не более 210пх. Количество таких элементов может быть любым.'
            },
            {
                text: 'Здесь краткое описание. Высота блока зависит от контента, но не более 210пх. Количество таких элементов может быть любым.'
            },
            {
                text: 'Здесь краткое описание. Высота блока зависит от контента, но не более 210пх.'
            },
            {
                text: 'Здесь краткое описание. Высота блока зависит от контента, но не более 210пх. Количество таких элементов может быть любым.'
            },
            {
                text: 'Здесь краткое описание. Высота блока зависит от контента, но не более 210пх. Количество таких элементов может быть любым.'
            },
            {
                text: 'Здесь краткое описание. Высота блока зависит от контента, но не более 210пх.'
            }
        ]
    for i in content
        li.content__item
            p #{i.text}