.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    background-color: #000;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    @include laptop {
        position: absolute;
        left: -90%;
        width: 90%;
        opacity: 0;

        &--opened {
            left: 0;
            opacity: 1;
        }
    }
}

/*сайдбар на мобильных устройствах*/
.sidebar-toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: 10px;
    display: none;

    @include laptop {
        display: block;
        z-index: 5;

        &--back {
            right: 10px;
            left: auto;
        }

        &__img {
            width: 100%;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);

            &--back {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
}